<div id="<%= dom_id comment %>" class="comment user-<%= comment.user.id %>">
  <span class="time-tag"><span>@<%= comment.user.name %></span> <small><%= time_tag comment.updated_at, "data-local": "time-ago" %></small></span>
  <div></div>
  <span class="message"><%= comment.content %></span>
</div>