<% if comment.user == Current.user %>
  <div id="<%= dom_id(comment) %>" style="width:100%;margin-bottom:0.8em;display:flex;justify-content:flex-end;">
    <span style="width:30%;text-align:right;padding-right:0.5em;color:grey;"><small><%= time_tag comment.updated_at, "data-local": "time-ago" %></small></span>
    <span style="width:70%;text-align:right;color:#1877f2;"><%= comment.content %></span>
  </div>
<% else %>
  <div id="<%= dom_id(comment) %>" style="width:70%;margin-bottom:0.8em;">
    <span style="color:grey;">@<%= comment.user.name %> <small><%= time_tag comment.updated_at, "data-local": "time-ago" %></small></span>
    <br>
    <span style="color:purple;"><%= comment.content %></span>
  </div>
<% end %>