  <%#= form_with model: post, data: { controller: "confirm", action: "submit->confirm#submit", confirm_message_value: "Submit this post?" } do |form| %>
  <%#= form.submit "Submit" %>
  <%= form_with(model: post) do |form| %>
    <p>
      <%= form.collection_select :post_category_id, post_categories, :id, :name, include_blank: false %>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.rich_textarea :body, placeholder: "" %>
    </p>
    <% if post.errors.any? %>
      <div style="color: red">
        <h4><%= pluralize(post.errors.count, "error") %></h4>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <% if post.new_record? %>
        <%= form.submit "Submit", data: { controller: "confirm", action: "click->confirm#submit", confirm_message_value: "Submit this post?" } %>
      <% else %>
        <%= form.submit "Update", data: { controller: "confirm", action: "click->confirm#submit", confirm_message_value: "Update this post?" } %>
      <% end %>
    </p>
  <% end %>