<%= form_with(model: post) do |form| %>
  <p>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.rich_textarea :body %>
  </p>
  <% if post.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(post.errors.count, "error") %></h4>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.submit %>
  </p>
<% end %>