<%= turbo_stream_from @post %>
<div style="color: green"><%= notice %></div>
<%= render @post %>
<ul style="display:flex;list-style-type:none;margin:0;gap:0.5rem;">
  <li>
    <%= link_to "Edit", edit_post_path(@post), class: "button", style: "background-color:orange;border:none;" %>
  </li>
  <li>
    <%= button_to "Delete", @post, method: :delete, data: { controller: "confirm", action: "click->confirm#submit", confirm_message_value: "Delete this post?" }, style: "background-color:red;border:none;" %>
  </li>
</ul>
<%= render "comments/comments", post: @post %>