<%= turbo_stream_from @post %>
<div id="comments" style="max-height:calc(100vh - 5.6em);overflow-y:auto;">
  <div style="color:green;"><%= notice %></div>
  <%= render @post %>
  <%= render "comments/comments", post: @post %>
</div>
<div style="position:sticky;bottom:0;">
  <%= render "comments/new", post: @post %>
</div>