<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Blog">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% if authenticated? && controller_name == "posts" %>
      <div style="position:relative;margin-top:0.4rem;">
        <%= link_to "WIS BLOG", posts_path, style: "text-decoration:underline;color:#0F52BA;font-size:1.5rem;font-weight:bold;" %>
        <div style="position:absolute;right:0;top:0;">
          <ul style="display:flex;list-style-type:none;margin:0;gap:0.4rem;">
            <% if action_name == "index" %>
              <li>
                <%= link_to "+ Post", new_post_path, class: "button", style: "background-color:#008000;" %>
              </li>
            <% elsif action_name == "show" %>
              <li>
                <%= link_to "Edit", edit_post_path(@post), class: "button", style: "background-color:orange;" %>
              </li>
              <li>
                <%= button_to "Delete", @post, method: :delete, data: { controller: "confirm", action: "click->confirm#submit", confirm_message_value: "Delete?" }, style: "background-color:red;" %>
              </li>
              <li>
                <%= link_to "Back", posts_path, class: "button", style: "background-color:#71797E;" %>
              </li>
            <% elsif action_name == "edit" %>
              <li>
                <%= link_to "Back", @post, class: "button", style: "background-color:#71797E;" %>
              </li>
            <% elsif action_name == "new" %>
              <li>
                <%= link_to "Back", posts_path, class: "button", style: "background-color:#71797E;" %>
              </li>
            <% end %>
            &nbsp;
            <li>
              <%= button_to "Logout", session_path, method: :delete, style: "background-color:#000;", data: { controller: "confirm", action: "click->confirm#submit", confirm_message_value: "Logout?" } %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>